<header>
  <nav>
    <a href="/">Movie Library</a>
    <ul>
      <li><a href="/movies">Movies</a></li>
      <li><a href="/movies/new">Add Movie</a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
    </ul>
  </nav>
</header>
